# SUSPICIOUSSSSS... {ಠʖಠ}

In [1]:
#################################################
#################### IMPORTS ####################
#################################################

# ---------------- #
# Common Libraries #
# ---------------- #

# Standard Imports
import numpy as np
import pandas as pd
import seaborn as sns

# -------------- #
# Action Imports #
# -------------- #

import warnings
warnings.filterwarnings("ignore")
import matplotlib.pyplot as plt

# ------------- #
# Local Imports #
# ------------- #

# importing sys
import sys

# adding 00_helper_files to the system path
sys.path.insert(0, '/Users/qmcbt/codeup-data-science/00_helper_files')

# env containing sensitive access credentials
import env
from env import user, password, host

# Exercises
- file name: `time_series_anomaly_detection.py` or `time_series_anomaly_detection.ipynb`

The dataset for these exercises lives in the Codeup Data Science MySQL Server. The database name is curriculum_logs.

**Hint**: You will need to explore the database (yay SQL!)

In [2]:
# Assign my url and query
url = f'mysql+pymysql://{env.user}:{env.password}@{env.host}/curriculum_logs'
query = """
SELECT * FROM logs
LEFT JOIN cohorts 
ON logs.cohort_id = cohorts.id;
"""
# Read in SQL
df = pd.read_sql(query, url)
df.T

,0,1,2,3,4,5,6,7,8,9,...,900213,900214,900215,900216,900217,900218,900219,900220,900221,900222
date,2018-01-26,2018-01-26,2018-01-26,2018-01-26,2018-01-26,2018-01-26,2018-01-26,2018-01-26,2018-01-26,2018-01-26,...,2021-04-21,2021-04-21,2021-04-21,2021-04-21,2021-04-21,2021-04-21,2021-04-21,2021-04-21,2021-04-21,2021-04-21
time,09:55:03,09:56:02,09:56:05,09:56:06,09:56:24,09:56:41,09:56:46,09:56:48,09:56:59,09:58:26,...,16:38:14,16:41:29,16:41:31,16:41:49,16:41:51,16:41:51,16:42:02,16:42:09,16:44:37,16:44:39
path,/,java-ii,java-ii/object-oriented-programming,slides/object_oriented_programming,javascript-i/conditionals,javascript-i/loops,javascript-i/conditionals,javascript-i/functions,javascript-i/loops,javascript-i/functions,...,java-iii/servlets,javascript-i,javascript-ii,jquery,javascript-i/bom-and-dom/dom,jquery/personal-site,jquery/mapbox-api,jquery/ajax/weather-map,anomaly-detection/discrete-probabilistic-methods,jquery/mapbox-api
user_id,1,1,1,1,2,2,3,3,2,4,...,834,64,64,64,875,64,64,64,744,64
cohort_id,8.0,8.0,8.0,8.0,22.0,22.0,22.0,22.0,22.0,22.0,...,134.0,28.0,28.0,28.0,135.0,28.0,28.0,28.0,28.0,28.0
ip,97.105.19.61,97.105.19.61,97.105.19.61,97.105.19.61,97.105.19.61,97.105.19.61,97.105.19.61,97.105.19.61,97.105.19.61,97.105.19.61,...,67.11.50.23,71.150.217.33,71.150.217.33,71.150.217.33,24.242.150.231,71.150.217.33,71.150.217.33,71.150.217.33,24.160.137.86,71.150.217.33
id,8.0,8.0,8.0,8.0,22.0,22.0,22.0,22.0,22.0,22.0,...,134.0,28.0,28.0,28.0,135.0,28.0,28.0,28.0,28.0,28.0
name,Hampton,Hampton,Hampton,Hampton,Teddy,Teddy,Teddy,Teddy,Teddy,Teddy,...,Luna,Staff,Staff,Staff,Marco,Staff,Staff,Staff,Staff,Staff
slack,#hampton,#hampton,#hampton,#hampton,#teddy,#teddy,#teddy,#teddy,#teddy,#teddy,...,#luna,#,#,#,#marco,#,#,#,#,#
start_date,2015-09-22,2015-09-22,2015-09-22,2015-09-22,2018-01-08,2018-01-08,2018-01-08,2018-01-08,2018-01-08,2018-01-08,...,2020-12-07,2014-02-04,2014-02-04,2014-02-04,2021-01-25,2014-02-04,2014-02-04,2014-02-04,2014-02-04,2014-02-04
end_date,2016-02-06,2016-02-06,2016-02-06,2016-02-06,2018-05-17,2018-05-17,2018-05-17,2018-05-17,2018-05-17,2018-05-17,...,2021-06-08,2014-02-04,2014-02-04,2014-02-04,2021-07-19,2014-02-04,2014-02-04,2014-02-04,2014-02-04,2014-02-04
created_at,2016-06-14 19:52:26,2016-06-14 19:52:26,2016-06-14 19:52:26,2016-06-14 19:52:26,2018-01-08 13:59:10,2018-01-08 13:59:10,2018-01-08 13:59:10,2018-01-08 13:59:10,2018-01-08 13:59:10,2018-01-08 13:59:10,...,2020-12-07 16:58:43,2018-12-06 17:04:19,2018-12-06 17:04:19,2018-12-06 17:04:19,2021-01-20 21:31:11,2018-12-06 17:04:19,2018-12-06 17:04:19,2018-12-06 17:04:19,2018-12-06 17:04:19,2018-12-06 17:04:19
updated_at,2016-06-14 19:52:26,2016-06-14 19:52:26,2016-06-14 19:52:26,2016-06-14 19:52:26,2018-01-08 13:59:10,2018-01-08 13:59:10,2018-01-08 13:59:10,2018-01-08 13:59:10,2018-01-08 13:59:10,2018-01-08 13:59:10,...,2020-12-07 16:58:43,2018-12-06 17:04:19,2018-12-06 17:04:19,2018-12-06 17:04:19,2021-01-20 21:31:11,2018-12-06 17:04:19,2018-12-06 17:04:19,2018-12-06 17:04:19,2018-12-06 17:04:19,2018-12-06 17:04:19
deleted_at,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
program_id,1.0,1.0,1.0,1.0,2.0,2.0,2.0,2.0,2.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0

In [12]:
# Count null program_id entries
df.program_id.isnull().sum()

52893

In [3]:
# List unique program_id entries
df.program_id.unique()

array([ 1.,  2., nan,  4.,  3.])

In [5]:
# Drop duplicate id id column
df = df.drop(columns='id')

In [15]:
# Assign Conditions and Values to build new Column based on program_id values

conditions = [df.program_id == 1.0, 
              df.program_id == 2.0, 
              df.program_id == 3.0, 
              df.program_id == 4.0, 
              df.program_id.isnull()]

values = ['PHP', 'Java', 'Data Science', 'Front End', 'Pending']

df['program'] = np.select(conditions, values)

In [16]:
# Show me
df.T

,0,1,2,3,4,5,6,7,8,9,...,900213,900214,900215,900216,900217,900218,900219,900220,900221,900222
date,2018-01-26,2018-01-26,2018-01-26,2018-01-26,2018-01-26,2018-01-26,2018-01-26,2018-01-26,2018-01-26,2018-01-26,...,2021-04-21,2021-04-21,2021-04-21,2021-04-21,2021-04-21,2021-04-21,2021-04-21,2021-04-21,2021-04-21,2021-04-21
time,09:55:03,09:56:02,09:56:05,09:56:06,09:56:24,09:56:41,09:56:46,09:56:48,09:56:59,09:58:26,...,16:38:14,16:41:29,16:41:31,16:41:49,16:41:51,16:41:51,16:42:02,16:42:09,16:44:37,16:44:39
path,/,java-ii,java-ii/object-oriented-programming,slides/object_oriented_programming,javascript-i/conditionals,javascript-i/loops,javascript-i/conditionals,javascript-i/functions,javascript-i/loops,javascript-i/functions,...,java-iii/servlets,javascript-i,javascript-ii,jquery,javascript-i/bom-and-dom/dom,jquery/personal-site,jquery/mapbox-api,jquery/ajax/weather-map,anomaly-detection/discrete-probabilistic-methods,jquery/mapbox-api
user_id,1,1,1,1,2,2,3,3,2,4,...,834,64,64,64,875,64,64,64,744,64
cohort_id,8.0,8.0,8.0,8.0,22.0,22.0,22.0,22.0,22.0,22.0,...,134.0,28.0,28.0,28.0,135.0,28.0,28.0,28.0,28.0,28.0
ip,97.105.19.61,97.105.19.61,97.105.19.61,97.105.19.61,97.105.19.61,97.105.19.61,97.105.19.61,97.105.19.61,97.105.19.61,97.105.19.61,...,67.11.50.23,71.150.217.33,71.150.217.33,71.150.217.33,24.242.150.231,71.150.217.33,71.150.217.33,71.150.217.33,24.160.137.86,71.150.217.33
name,Hampton,Hampton,Hampton,Hampton,Teddy,Teddy,Teddy,Teddy,Teddy,Teddy,...,Luna,Staff,Staff,Staff,Marco,Staff,Staff,Staff,Staff,Staff
slack,#hampton,#hampton,#hampton,#hampton,#teddy,#teddy,#teddy,#teddy,#teddy,#teddy,...,#luna,#,#,#,#marco,#,#,#,#,#
start_date,2015-09-22,2015-09-22,2015-09-22,2015-09-22,2018-01-08,2018-01-08,2018-01-08,2018-01-08,2018-01-08,2018-01-08,...,2020-12-07,2014-02-04,2014-02-04,2014-02-04,2021-01-25,2014-02-04,2014-02-04,2014-02-04,2014-02-04,2014-02-04
end_date,2016-02-06,2016-02-06,2016-02-06,2016-02-06,2018-05-17,2018-05-17,2018-05-17,2018-05-17,2018-05-17,2018-05-17,...,2021-06-08,2014-02-04,2014-02-04,2014-02-04,2021-07-19,2014-02-04,2014-02-04,2014-02-04,2014-02-04,2014-02-04
created_at,2016-06-14 19:52:26,2016-06-14 19:52:26,2016-06-14 19:52:26,2016-06-14 19:52:26,2018-01-08 13:59:10,2018-01-08 13:59:10,2018-01-08 13:59:10,2018-01-08 13:59:10,2018-01-08 13:59:10,2018-01-08 13:59:10,...,2020-12-07 16:58:43,2018-12-06 17:04:19,2018-12-06 17:04:19,2018-12-06 17:04:19,2021-01-20 21:31:11,2018-12-06 17:04:19,2018-12-06 17:04:19,2018-12-06 17:04:19,2018-12-06 17:04:19,2018-12-06 17:04:19
updated_at,2016-06-14 19:52:26,2016-06-14 19:52:26,2016-06-14 19:52:26,2016-06-14 19:52:26,2018-01-08 13:59:10,2018-01-08 13:59:10,2018-01-08 13:59:10,2018-01-08 13:59:10,2018-01-08 13:59:10,2018-01-08 13:59:10,...,2020-12-07 16:58:43,2018-12-06 17:04:19,2018-12-06 17:04:19,2018-12-06 17:04:19,2021-01-20 21:31:11,2018-12-06 17:04:19,2018-12-06 17:04:19,2018-12-06 17:04:19,2018-12-06 17:04:19,2018-12-06 17:04:19
deleted_at,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
program_id,1.0,1.0,1.0,1.0,2.0,2.0,2.0,2.0,2.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
program,PHP,PHP,PHP,PHP,Java,Java,Java,Java,Java,Java,...,Java,Java,Java,Java,Java,Java,Java,Java,Java,Java

In [17]:
# Check Work
df.program.unique()

array(['PHP', 'Java', 'Pending', 'Front End', 'Data Science'],
      dtype=object)

In [18]:
# List uniques values for name
df.name.unique()

array(['Hampton', 'Teddy', 'Sequoia', 'Arches', 'Niagara', 'Pinnacles',
       'Quincy', None, 'Kings', 'Lassen', 'Mammoth', 'Glacier', 'Denali',
       'Joshua', 'Olympic', 'Ulysses', 'Badlands', 'Apollo', 'Ike',
       'Voyageurs', 'Wrangell', 'Xanadu', 'Franklin', 'Yosemite', 'Staff',
       'Zion', 'Andromeda', 'Betelgeuse', 'Ceres', 'Bayes', 'Deimos',
       'Europa', 'Fortuna', 'Curie', 'Apex', 'Ganymede', 'Everglades',
       'Hyperion', 'Darden', 'Bash', 'Jupiter', 'Kalypso', 'Luna',
       'Easley', 'Marco', 'Neptune', 'Florence', 'Oberon'], dtype=object)

In [19]:
# List uniques values for slack
df.slack.unique()

array(['#hampton', '#teddy', '#sequoia', '#arches', '#niagara',
       '#pinnacles', '#quincy', None, '#kings', '#lassen', '#mammoth',
       '#glacier', '#denali', '#joshua', '#olympic', '#ulysses',
       '#badlands', '#apollo', '#ike', '#voyageurs', '#wrangell',
       '#xanadu', '#franklin', '#yosemite', '#', '#zion', '#andromeda',
       '#betelgeuse', '#ceres', '#deimos', '#europa', '#fortuna',
       '#curie', '#apex', '#ganymede', '#everglades', '#hyperion',
       '#darden', '#bash', '#jupiter', '#kalypso', '#luna', '#easley',
       '#marco', '#neptune', '#florence', '#oberon'], dtype=object)

In [20]:
# List uniques values for cohort_id
df.cohort_id.unique()

array([  8.,  22.,  21.,   1.,  16.,  18.,  19.,  nan,  13.,  14.,  15.,
         7.,   4.,  12.,  17.,  23.,   2.,   9.,  11.,  24.,  25.,  26.,
         6.,  27.,  28.,  29.,  31.,  32.,  33.,  34.,  51.,  52.,  53.,
        55.,  56.,  57.,   5.,  58.,  59.,  61.,  62., 132., 134., 133.,
       135., 138., 137., 139.])

In [21]:
df.path.unique()

array(['/', 'java-ii', 'java-ii/object-oriented-programming', ...,
       'florence-python-assessment.html', 'javascript-i/dom',
       'appendix/professional-development/post-interview-review-form'],
      dtype=object)

In [23]:
# Create DataFrame with entries that have no cohort_id
no_cohort = df[df.cohort_id.isnull()]
no_cohort.T

,411,412,425,435,436,437,438,439,440,441,...,899892,899893,899894,899895,899896,899897,899898,899899,899900,899902
date,2018-01-26,2018-01-26,2018-01-26,2018-01-26,2018-01-26,2018-01-26,2018-01-26,2018-01-26,2018-01-26,2018-01-26,...,2021-04-21,2021-04-21,2021-04-21,2021-04-21,2021-04-21,2021-04-21,2021-04-21,2021-04-21,2021-04-21,2021-04-21
time,16:46:16,16:46:24,17:54:24,18:32:03,18:32:17,18:32:33,18:32:37,18:32:43,18:32:47,18:33:07,...,12:47:54,12:47:56,12:48:04,12:48:37,12:48:52,12:49:00,12:49:02,12:51:27,12:52:37,12:56:26
path,/,spring/extra-features/form-validation,/,/,mysql/relationships/joins,mysql/tables,mysql/databases,mysql/relationships,mysql/relationships/joins,mysql/relationships,...,javascript-i/bom-and-dom,javascript-i/bom-and-dom/bom,javascript-i/bom-and-dom/dom,javascript-i/bom-and-dom/dom-events,jquery,javascript-ii,javascript-ii/es6,javascript-ii/map-filter-reduce,javascript-ii/promises,javascript-ii/RESTful-api
user_id,48,48,48,48,48,48,48,48,48,48,...,717,717,717,717,717,717,717,717,717,717
cohort_id,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ip,97.105.19.61,97.105.19.61,97.105.19.61,97.105.19.61,97.105.19.61,97.105.19.61,97.105.19.61,97.105.19.61,97.105.19.61,97.105.19.61,...,136.50.102.126,136.50.102.126,136.50.102.126,136.50.102.126,136.50.102.126,136.50.102.126,136.50.102.126,136.50.102.126,136.50.102.126,136.50.102.126
name,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
slack,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
start_date,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
end_date,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
created_at,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
updated_at,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
deleted_at,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
program_id,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
program,Pending,Pending,Pending,Pending,Pending,Pending,Pending,Pending,Pending,Pending,...,Pending,Pending,Pending,Pending,Pending,Pending,Pending,Pending,Pending,Pending

In [24]:
# List uniques values for no_cohort path
no_cohort.path.unique()

array(['/', 'spring/extra-features/form-validation',
       'mysql/relationships/joins', ...,
       'classification/classical_programming_vs_machine_learning.jpeg',
       'distributed-ml/explore',
       'appendix/further-reading/jquery/effects'], dtype=object)

In [29]:
# Count unique no_cohort user_id and List uniques values for no_cohort user_id
no_cohort.user_id.nunique(), no_cohort.user_id.unique()

(78,
 array([ 48,  54,  58,  59,  61,  62,  63,  73,  74,  78,  79,  86,  88,
         89, 100, 103, 111, 137, 166, 176, 213, 247, 317, 349, 350, 351,
        352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364,
        365, 366, 367, 368, 369, 372, 375, 403, 406, 429, 544,  64, 713,
        714, 715, 716, 717, 718, 663, 719, 720, 721, 722, 723, 724, 725,
        726, 727, 728, 729, 346, 731, 736, 644, 744, 782, 810, 814, 815]))

## 1. Label students by the program they are in.

## ANSWER: 
* This was accomplished by adding the ```'program'``` column using the following values:
    * 1 - PHP
    * 2 - Java
    * 3 - Data Science
    * 4 - Front End
    * nan - Pending

```
# Assign Conditions and Values to build new Column based on program_id values

conditions = [df.program_id == 1.0, 
              df.program_id == 2.0, 
              df.program_id == 3.0, 
              df.program_id == 4.0, 
              df.program_id.isnull()]

values = ['PHP', 'Java', 'Data Science', 'Front End', 'Pending']

df['program'] = np.select(conditions, values)
```

## 2. Is it possible to identify the user_id of a staff member?

In [64]:
# List unique values for cohort name
df.name.unique()

array(['Hampton', 'Teddy', 'Sequoia', 'Arches', 'Niagara', 'Pinnacles',
       'Quincy', None, 'Kings', 'Lassen', 'Mammoth', 'Glacier', 'Denali',
       'Joshua', 'Olympic', 'Ulysses', 'Badlands', 'Apollo', 'Ike',
       'Voyageurs', 'Wrangell', 'Xanadu', 'Franklin', 'Yosemite', 'Staff',
       'Zion', 'Andromeda', 'Betelgeuse', 'Ceres', 'Bayes', 'Deimos',
       'Europa', 'Fortuna', 'Curie', 'Apex', 'Ganymede', 'Everglades',
       'Hyperion', 'Darden', 'Bash', 'Jupiter', 'Kalypso', 'Luna',
       'Easley', 'Marco', 'Neptune', 'Florence', 'Oberon'], dtype=object)

## ANSWER: 
* Yes, the cohort ```'name'``` is equal to ```'staff'```

## 3. Identify students who are accessing our curriculum pages beyond the end of their time at Codeup.

In [66]:
# Create DataFrame for users that have accessed the curriculum past there graduation date
grad_users = df[df.date > df.end_date]

In [70]:
# Count the users
grad_users.user_id.nunique()

592

In [71]:
# Show the users
grad_users.user_id.unique()

array([  1,  11,  21,  26,  37,  40,  50,  51,  53,  60,  64,  66,  67,
        68,  69,  70,  71,  72,  75,  76,  77,  80,  81,  82,  83,  84,
        85,  87,  90,  91,  92,  93,  94,  95,  96,  97,  98, 101, 102,
        16,  42,  41,  17,  22,  15, 104,  47,  57,  10, 105, 106,  28,
       107,  65,  52,  33,  56, 108,  27,  38,  36, 109, 110, 112, 113,
       114, 115, 139, 140, 141, 143, 144, 146, 147, 148, 149, 150, 151,
       152, 153, 156, 161, 162, 163, 164, 165, 167, 168, 169, 170, 172,
       173, 174, 175, 177, 178, 179,  29,  19, 180,   6,  99,  43,  31,
         7, 181, 138,  35, 142,   5, 155, 154,  88, 209, 210,  18,   3,
        20, 118, 211, 212, 214, 216, 217, 131, 135, 128, 127, 124, 130,
       159,  12, 145, 241, 242, 136, 157, 171, 123,  25, 134, 119, 243,
       244, 245, 246, 160, 248, 252, 254, 255, 120, 257, 279, 280, 281,
        14, 253, 188, 186, 283, 184, 215, 278, 183, 204, 193, 195, 197,
       249, 206, 284, 121, 201, 285, 286, 311, 190, 312, 116, 200, 250,
       187, 256, 230, 220, 313, 223, 314, 225, 228, 240, 219, 316, 231,
       227, 239, 189, 208, 232, 258, 318, 319, 322, 238, 348, 282, 270,
       263, 272, 267, 185, 260, 275, 274, 226, 315, 269, 266, 262, 277,
       273, 265, 264, 271, 261, 370, 198, 234, 126, 396, 397, 398, 288,
       293, 306, 295, 297, 302, 321, 251, 309, 304, 290, 399, 291, 346,
       401, 402, 404, 405, 122, 427, 428, 323, 337, 332, 330, 327, 347,
       324, 338, 336, 328, 333, 331, 335, 344, 299, 329, 341, 334, 325,
       459, 296, 326, 375, 374, 393, 389, 430, 390, 385, 379, 461, 462,
       463, 394, 464, 305, 465, 395, 392, 486, 373, 414, 423, 410, 424,
       513, 425, 383, 417, 416, 514, 415, 413, 419, 539, 426, 545, 515,
       437, 451, 458, 433, 435, 445, 457, 434, 439, 440, 460, 455, 452,
       436, 456, 450, 448, 546, 446, 572, 573, 543, 574, 476, 471, 475,
       485, 474, 478, 468, 481, 472, 466, 479, 483, 473, 482, 480, 469,
       592, 358, 593, 477, 447, 610, 495, 489, 611, 512, 491, 488, 509,
       490, 507, 502, 500, 493, 508, 504, 499, 503, 506, 511, 498, 494,
       510, 618, 620, 501, 467, 646, 647, 497, 530, 540, 527, 531, 524,
       516, 521, 538, 523, 532, 519, 542, 384, 528, 537, 517, 649, 650,
       651, 652, 653, 535, 307, 534, 541, 525, 496, 566, 555, 564, 559,
       654, 567, 553, 548, 551, 547, 554, 569, 549, 558, 565, 560, 570,
       557, 571, 556, 616, 586, 584, 580, 575, 561, 581, 585, 588, 576,
       589, 591, 617, 582, 579, 590, 583, 614, 599, 613, 604, 612, 608,
       602, 598, 648, 606, 605, 595, 609, 596, 738, 600, 615, 563, 578,
       740, 633, 642, 632, 677, 635, 643, 631, 630, 626, 623, 741, 637,
       640, 624, 638, 636, 621, 627, 639, 641, 622, 742, 634, 625, 745,
       746, 371, 777, 778, 779, 786, 787, 533, 809, 813, 671, 656, 666,
       655, 673, 674, 662, 668, 667, 812, 657, 816, 817, 658, 664, 670,
       660, 628, 852, 853, 854, 855, 695, 691, 692, 683, 781, 857, 696,
       685, 783, 698, 785, 268, 688, 690, 682, 780, 680, 686, 694, 308,
       678, 744, 859, 712, 709, 737, 706, 743, 860, 730, 733, 705, 747,
       732, 693, 784, 893, 701, 894,  13, 951, 763, 751, 760, 748, 769,
       764, 761, 774, 753, 765, 750, 771, 749, 773, 755, 776, 762, 818,
       767, 952, 953, 768, 980, 756, 770])

In [69]:
# Count how many times each user accessed the curriculum
grad_users.user_id.value_counts()

11     17913
64     16297
53     12329
314     7783
1       7404
       ...
325        1
593        1
533        1
592        1
163        1
Name: user_id, Length: 592, dtype: int64

## 4. Identify students who present anomalous activity using the Bollinger Band method, but reduce K to 2.

## 5. Plot the access activity of these students.

# **BONUS:** Can you identify users who are viewing both the web dev and data science curriculum?

## ANSWER:
* Find the unique list of path accessed by users with a program_id of 1,2, and 4 (WebDev)
* Find the unique list of path accessed by users with a program_id of 1,2, and 4 (Data Science)
* Find which path are the same between these two sets of program users

In [76]:
path_list = pd.DataFrame(df.path.unique().tolist())
path_list

                                                      0
0                                                     /
1                                               java-ii
2                   java-ii/object-oriented-programming
3                    slides/object_oriented_programming
4                             javascript-i/conditionals
...                                                 ...
2309            appendix/further-reading/jquery/effects
2310                      easley-python-assessment.html
2311                    florence-python-assessment.html
2312                                   javascript-i/dom
2313  appendix/professional-development/post-intervi...

[2314 rows x 1 columns]